{
    # root ssh-key
    root-key = "ssh-rsa ...";;

    # additional wheel user, so we don't have to be root.
    wheel-user-name = "<username>";
    wheel-user-key  = "ssh-rsa ...";;

    # wireless
    wlan-ssid = "<ssid>";
    wlan-psk  = "<psk>";
}